<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand" href="/">
            <strong>Sakila App</strong>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/films">
                        Films
                    </a>
                </li>
                <% if (typeof user !== 'undefined' && user) { %>
                    <% if (user.userType === 'staff' || user.userType === 'owner') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/customers">
                                Customers
                            </a>
                        </li>
                    <% } %>
                    <% if (user.userType === 'owner') { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Management
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/admin/staff">
                                    Staff
                                </a></li>
                                <li><a class="dropdown-item" href="/admin/reports">
                                    Reports
                                </a></li>
                                <li><a class="dropdown-item" href="/admin/inventory">
                                    Inventory
                                </a></li>
                            </ul>
                        </li>
                    <% } %>
                <% } %>
            </ul>
            
            <ul class="navbar-nav">
                <% if (typeof user !== 'undefined' && user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <%= user.fullName || user.username %>
                            <% if (user.userType) { %>
                                <span class="badge bg-secondary ms-1"><%= user.userType %></span>
                            <% } %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/dashboard">
                                Dashboard
                            </a></li>
                            <li><a class="dropdown-item" href="/profile">
                                Profile
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form method="POST" action="/logout" class="d-inline">
                                    <button type="submit" class="dropdown-item text-danger">
                                        Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">
                            Register
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
